.text-background {
  background-color: rgb(179, 237, 255);
}

.link-decoration {
  color: #7868e6;
  text-decoration: none;
}

.link-decoration .link-effect {
  font-weight: 400;
  font-size: 17px;
  color: grey;
  text-decoration: none;
}

.link-decoration .link-effect:hover {
  color: #7868e6;
  border-bottom: 0.2rem solid #b8b5ff;
  padding-bottom: 0.1rem;
}

.text-paragraph {
  font-size: small;
  font-weight: normal;
}

.text-skinType {
  font-weight: normal;
}

.my-radio {
  accent-color: #7868e6;
}

.msg-err-css {
  color: red;
}

/* responsive */

@media (min-width: 150px) and (max-width: 450px) {
  .css-responsive {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: start;
  }

  .text-page {
    font-size: medium;
  }

  .link-decoration {
    font-size: medium;
  }

  .text-paragraph {
    font-size: smaller;
    display: inline;
  }

  .text-skinType {
    font-size: small;
  }
}
