@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@100;300;400&family=Varela+Round&family=Work+Sans:wght@300&display=swap");

.home-layout {
  margin-bottom: -280px;
}

.hero-img {
  text-align: center;
  background: url("../../assets/images/beauty.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  top: -200px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.btn-primary {
  margin-top: 8px;
  background-color: #aaa8fc !important;
  border-color: #9f9ef9 !important;
  color: #fff;
}

.responsive-slogan {
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  margin-bottom: 5px;
}

.responsive-txt {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.h1-title {
  color: #b8b5ff;
  text-align: center;
  font-weight: bold;
  text-decoration: overline;
  text-decoration-color: #e4fbff;
  font-size: 25px !important;
}

.p-ranting {
  margin-top: -25px;
}

.footer-txt {
  font-family: "Roboto", sans-serif;
  font-weight: lighter !important;
}

.card-detail {
  height: 60vh;
}

@media (min-width: 150px) and (max-width: 450px) {
  .responsive-slogan {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    padding-bottom: 5px;
  }

  .responsive-txt {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 18px;
  }
}
