.h1-title-nf {
  color: #b8b5ff;
  font-weight: bold;
  text-decoration: overline;
  text-decoration-color: #e4fbff;
  margin-top: 5rem;
}

.h4-title-nf {
  font-style: italic;
  font-weight: bold;
  color: rgba(197, 191, 191, 0.984);
}

.image-dec-nf {
  width: 250px;
  height: 250px;
  margin: 7rem;
}

/* responsive */

@media (min-width: 150px) and (max-width: 450px) {
  .css-responsive-nf {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image-dec-responsive-nf {
    width: 200px;
    height: 200px;
    margin: 0px;
    margin-top: 2.5rem;
    padding: 0px;
  }

  .h1-title-nf,
  .h4-title-nf {
    font-size: medium;
  }
}
