@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.prod-card-container {
  position: relative;
  width: 100%;
}

.prod-img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.card-middle-ranking {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.prod-card-container:hover .prod-img {
  opacity: 0.3;
}

.prod-card-container:hover .card-middle-ranking {
  opacity: 1;
}

.card-text-ranking {
  background-color: #b8b5ff;
  color: #e4fbff;
  padding: 16px 32px;
  border: 2px solid #e4fbff;
  border-radius: 5em;
  box-sizing: border-box;
}

.h1-title {
  color: #b8b5ff;
  font-weight: bold;
  text-decoration: overline;
  text-decoration-color: #e4fbff;
}

.h4-title {
  font-style: italic;
  font-weight: bold;
  color: rgba(197, 191, 191, 0.984);
}

.h6-name {
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.p-brand-name {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-decoration: overline;
  text-decoration-color: #60dbf1;
  /* text-decoration-color: #e4fbff; */
}

.p-ranting {
  font-weight: bold;
  color: #b8b5ff;
  /* min-height: 1px; */
  padding: 1.25rem;
}

.selector-css {
  font-style: italic;
  color: rgba(197, 191, 191, 0.984);
}

.selector-box {
  background-color: #e4fbff;
  border: 1px solid #7868e6;
  font-weight: bolder;
  font-weight: 100;
  color: #7868e6;
  margin-left: 0.3rem;
  width: 3rem;
  height: auto;
}

.pagination-btn-css {
  font-weight: 100;
  color: #7868e6;
  background-color: rgba(245, 239, 239, 0.984);
  border: 1px solid #c2eaf1;
  margin: 4px;
  cursor: pointer;
  width: 2rem;
  height: auto;
}

.pagination-btn-css:hover {
  background-color: #e4fbff;
  border: 1px solid #7868e6;
  font-weight: bolder;
}

.border-card {
  border-radius: 2rem;
}
